*.class
*.war
*.jar
*.pyc
server/target

client/python/plow.egg-info
*.egg-info
lib/etc
*.o
*.pro
moc_*.cpp
*.pro.user
Makefile
lib/cpp/src/gui/examples/examples.app
bin/dev.sh
lib/cpp/src/gui/examples/*.app
lib/python/etc
*.user
