*.class
*.war
*.jar
*.pyc
*.DS_Store
server/target

client/python/plow.egg-info
*.egg-info
lib/etc
*.o
*.pro
moc_*.cpp
*.pro.user
Makefile
lib/cpp/src/gui/examples/examples.app
bin/dev.sh
lib/cpp/src/gui/examples/*.app
lib/python/etc
*.user
lib/python/__dist__
*.so
plow.cpp
plow.html
lib/cython/doc/_build
server/dist
lib/python/blueprint
lib/python/fileseq
lib/python/build
lib/python/dist
lib/python/doc/_build
lib/python/src/core/rpc/RpcService.cpp
lib/python/src/core/rpc/RpcService.h
lib/python/src/core/rpc
